<h1> Records: </h1>

<table class="all_records">
  <tr>
    <th><th>
    <th>Genre</th>
    <th>Artist</th>
    <th>Album</th>
    <th>Year</th>
    <th>Quantity</th>
  </tr>
  <%= render @records %>
</table>
<br>
