<h1> Records: </h1>

<table border = "1" class="all_records">
  <tr>
    <th></th>
    <th>Genre</th>
    <th>Artist</th>
    <th>Album</th>
    <th>Year</th>
    <th>Quantity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <%= render @records %>
</table>
<br>
