<h1> Records: </h1>

<h3><%= link_to "Add a record", new_record_path %></h3>
<table border = "1" class="sortable">
  <tr>
    <th></th>
    <th>Genre</th>
    <th>Artist</th>
    <th>Album</th>
    <th>Year</th>
    <th>Quantity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <%= render @records %>
</table>
<br>
